# Core RAG Framework
llama-index

# Integrations
llama-index-embeddings-huggingface

# For PDF and Web Loading
pypdf
beautifulsoup4

# Embedding Model
sentence-transformers

# Vector DB
chromadb

# API Framework
fastapi
uvicorn[standard]

# Utilities
python-dotenv
requests
boto3